html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-size: 62.5%;
}

body {
  box-sizing: border-box;
  min-width: 100vw;
  min-height: 100vh;
  color: #fff;
  font-family: 'mplus-1c-light';
  line-height: 1;
  word-break: break-all;
  box-sizing: border-box;
  background: linear-gradient(169deg, rgb(199, 246, 164), rgb(151, 248, 109));
}


ol, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
