<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>calculator</title>
  <!-- CSS -->
  <link rel="stylesheet" href="./asset/cssmin/style.min.css">
  <link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet" />
  <!-- js -->
  <script type="text/javascript" src="./asset/js/main.js"></script>

</head>
<body>

  <div id="wrapper">
    <h1>React電卓</h1>
    <div id="calc__wrapper"></div>
  </div>
</body>
</html>
