//base
$back_ground_color: #363947;
$calc_color: #edeff2;

//value
$value_color: #ddd;

//button
$button_number_color: #40AAEF;
$button_calc_color: #58BE89;
$button_equal_color: #F27398;
$button_shaow_size: 7px;
